.nav-buttons-container {
  width: 100%;
  height: 10vh;
  text-align: center;

  button {
    padding: 1vw;
    width: 95%;
    background-color: #ffff62;
    border-radius: 10px;
    border: none;
  }

  button:hover {
    background-color: yellow;
  }
}
