@mixin center-children {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.profile-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .profile-content {
    width: 90vw;
    height: 80vh;
    // background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    @include center-children();

    .sidenav {
      width: 15vw;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);

      .points-content {
        background-color: rgba(255, 255, 255, 0.5);
      }

      .navbar {
        position: relative;
        top: 15vh;
        // background-color: rgba(255, 255, 255, 0.5);
      }
    }
    .profile-info-container {
      width: 85vw;
      height: 100%;
      margin-left: 1vw;
      .users-container {
      }
      .profile-spaceship-info {
        background-color: rgba(255, 255, 255, 0.5);
        height: 85%;
        display: flex;
        .profile-spaceship-details {
          text-align: center;
          width: 30%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.3);
          .form-input {
            padding-top: 3vw;
          }
        }
        .user-spaceship-details {
          width: 70%;
          height: 100%;
          .user-spaceship-link-container {
            height: 9vh;
            background-color: rgba(255, 255, 255, 0.3);
          }
          .user-spaceship-container {
            height: 85%;
            .image-container {
              width: 70%;
              height: 100%;
              position: relative;
              top: 50%;
              left: 50%;
              margin-right: -50%;
              transform: translate(-50%, -50%);
            }
          }
          .products-slider-container {

            .carousel-container {
              #carousel-item {
                width: '7vw' !important;
                max-width: '90px' !important;
                height: '7vw' !important;
                max-height: '90px' !important;
                font-size: '1rem' !important;
              }
            }
          }
        }
      }
    }
  }
}
.carousel-item {
  width: 7vw ;
  max-width: 90px ;
  height: 7vw ;
  max-height: 90px ;
  font-size: 1rem ;
}

.carousel-item:hover {
  filter: brightness(1.5);
}

// slider dots
.sc-gKsewC {
  display: none;
}
// .bTybGL {
//   background-color: yellow !important;
// }
// .gUWalH {
//   background-color: yellow !important;
// }

.rec {
  color: yellow !important;
}

.kyJvRZ {
  background-color: transparent !important;
}

//update form
.upload-btn-update-position {
}

//update btn

.update-btn {
  position: unset;
}

@media only screen and (max-width: 1024px) {
  .profile-container {
    .profile-content {
      height: 90%;
      flex-direction: column-reverse;
      .profile-info-container {
        width: 100%;
        margin-left: unset;
        .profile-spaceship-info {
          height: 90%;
          flex-direction: column;
          .profile-spaceship-details {
            width: 100%;
          }
          .user-spaceship-details {
            width: 100%;
            .user-spaceship-container {
              height: 80%;
            }
          }
        }
      }
      .sidenav {
        width: 100%;
        height: fit-content;
        .navbar {
          height: fit-content;
          position: unset;
          width: 100%;
          display: flex;
          .nav-buttons-container {
            height: fit-content;
          }
        }
      }
    }
  }
}