.ProductCardContainer {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 50px;
  .ProductCard {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 25%;
    border-radius: 5px;
    background-color: beige;
    img {
      background-color: black;
      border-radius: 5px 5px 0 0;
      width: 100%;
    }
    .ContainerInfoCard {
      height: 120px;
      h3 {
        margin-left: 20px;
        padding-top: 10px;
      }
      p {
        margin-left: 20px;
      }
      .icon {
        color: rgb(245, 230, 16);
        float: right;
        font-size: 25px;
        margin-right: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.modal::-webkit-scrollbar {
  display: none;
}
.modal {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  .closeModal {
    cursor: pointer;
    position: absolute;
    left: 540px;
    color: white;
    top: 10px;
  }
  .imgProduct {
    border-radius: 5px 5px 0px 0px;
    background-color: black;
  }
  .TitleProductModal,
  .DescriptionProductModal {
    margin-left: 20px;
    margin-right: 20px;
  }
  .TitleProductModal {
    margin: 0px 20px 0px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
  }
  .DescriptionProductModal {
    margin-bottom: 20px;
    color: snow;
    font-size: 11px;
    line-height: 18px;
  }
  .FormComments {
    color: whitesmoke;
    width: 91%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 20px;
    .textareaComments {
      height: 50px;
      background-color: rgb(26, 26, 26);
      width: 100%;
      border: none;
      resize: none;
      overflow: auto;
      outline: none;
    }
    .PublishComment {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      width: 30%;
      background-color: yellow;
      border: none;
    }
  }
  .commentsContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    .ImgUser {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    p {
      font-size: 11px;
      line-height: 18px;
      color: whitesmoke;
    }
    span {
      color: whitesmoke;
      font-weight: bold;
    }
  }
}
