.ShopContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  .LeftContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  .RightContainer {
    width: 35%;
    border-left: 2px solid yellow;
    padding-left: 80px;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/MicrosoftTeams-image\ \(1\).png");
  background-size: cover;
  background-repeat: none;
}
.Pagination {
  color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-right: 10px;
  padding-bottom: 30px;
  svg {
    font-size: 25px;
  }
}
