.ShoppingCartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  h1 {
    font-size: 20px;
    font-weight: lighter;
    color: rgb(245, 230, 16);
    border-bottom: 2px solid rgb(245, 230, 16);
    width: 84%;
  }
  .ShoppingProducts {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    img {
      width: 40%;
    }
    .ShoppingProductsInfo {
      line-height: 10px;
      width: 40%;
      h3 {
        font-size: 20px;
        color: white;
      }
      p {
        color: white;
      }
    }
    .icon {
      width: 5%;
      color: rgb(245, 230, 16);
      font-size: 25px;
    }
  }
  .TotalProducts {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    align-self: center;
    border-top: 2px solid rgb(245, 230, 16);
    // width: 84%;
    justify-content: center;
    h3 {
      margin-top: 20px;
      line-height: 0px;
      font-size: 20px;
      color: white;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
      color: white;
    }
  }
  .ButtonsShop {
    width: 100%;
    display: flex;
    flex-direction: column;
    .SaveButton {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      button {
        background-color: rgb(0, 0, 0);
        color: white;
        width: 50%;
        border: none;
        border-radius: 5px;
        height: 30px;
      }
    }
    .BuyButton {
      display: flex;
      justify-content: center;
      button {
        background-color: yellow;
        color: black;
        width: 50%;
        border: none;
        border-radius: 5px;
        height: 30px;
      }
    }
  }
}
.CoinsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  .Coins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: 10px;
    img {
      width: 100%;
      border-radius: 5px;
    }
    img:hover {
      border: 2px solid yellow;
    }
    p {
      margin-top: 12px;
      color: white;
      text-align: center;
    }
  }
}
