.TopSpaceShipContainer{
    margin-right: 60px;
    margin-bottom: 30px;
    h1{
        font-size: 20px;
        font-weight: lighter;
        color:rgb(245, 230, 16);
        border-bottom: 2px solid rgb(245, 230, 16);
        width: 95%;
    }
    img{
        width: 95%;
        border-radius: 5px;
    }
}