@mixin center-children {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.profile-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .profile-content {
    width: 90vw;
    height: 80vh;
    // background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    @include center-children();

    .sidenav {
      width: 15vw;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);

      .points-content {
        height: 10vh;
        background-color: rgba(255, 255, 255, 0.5);
      }

      .navbar {
        position: relative;
        top: 15vh;
        // background-color: rgba(255, 255, 255, 0.5);
      }
    }
    .profile-info-container {
      width: 85vw;
      height: 15vh;
      margin-left: 1vw;
      // background-color: rgba(255, 255, 255, 0.5);

      .users-container {
        width: 80%;
        height: 12vh;
        position: relative;
        left: 10vw;
        top: 5vh;
        // background-color: rgba(255, 255, 255, 0.5);
      }
      .profile-spaceship-info {
        background-color: rgba(255, 255, 255, 0.5);
        height: 65vh;
        margin-top: 1vh;
        display: flex;
        .profile-spaceship-details {
          width: 19vw;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.3);
        }
        .user-spaceship-details {
          width: 54.6vw;
          height: 100%;
          margin-left: 1vw;
          // background-color: rgba(255, 255, 255, 0.3);
          .user-spaceship-link-container {
            height: 9vh;
            background-color: rgba(255, 255, 255, 0.3);
          }
          .user-spaceship-container {
            height: 34vh;
            // background-color: rgba(255, 255, 255, 0.3);
            margin-top: 1vh;
            .image-container {
              width: 70%;
              height: 100%;
              // background-color: rgba(255, 255, 255, 0.3);
              position: relative;
              top: 50%;
              left: 50%;
              margin-right: -50%;
              transform: translate(-50%, -50%);
            }
          }
          .products-slider-container {
            // height: 10vh;
            // background-color: rgba(255, 255, 255, 0.3);
            margin-top: 2vh;
            position: relative;

            .carousel-container {
              position: relative;
              top: 12vh;
              width: 30vw;
              left: 12vw;
            }
          }
        }
      }
    }
  }
}

// slider dots
.sc-gKsewC {
  display: none;
}
// .bTybGL {
//   background-color: yellow !important;
// }
// .gUWalH {
//   background-color: yellow !important;
// }

.rec {
  color: yellow !important;
}

.kyJvRZ {
  background-color: transparent !important;
}

//update form
.upload-btn-update-position {
  position: relative;
  left: 31vw;
  top: -35px;
}

//update btn

.update-btn {
  position: relative;
  left: 4vw;
}

